<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英語四コマ漫画一覧</title>
</head>
<body>
    <header>
        <a href="/">英語四コマ漫画サイト</a>
    </header>
    <main>
        <h1>英語四コマ漫画一覧</h1>
        <ul>
            <li><a href="/manga/manga001">[001]Singlish</a></li>
            <li><a href="/manga/manga002">[002]Luck</a></li>
            <li><a href="/manga/manga003"></a></li>
            <li><a href="/manga/manga004"></a></li>
            <li><a href="/manga/manga005"></a></li>
            <li><a href="/manga/manga006"></a></li>
            <li><a href="/manga/manga007"></a></li>
            <li><a href="/manga/manga008"></a></li>
            <li><a href="/manga/manga009"></a></li>
            <li><a href="/manga/manga010"></a></li>
        </ul>
    </main>
    <footer>
        <small>© English Manga Site</small>
    </footer>
</body>
</html>