<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英語四コマ漫画一覧</title>
</head>
<body>
    <h1>英語四コマ漫画一覧</h1>
    <ul>
        <li><a href="/manga/manga1">I'm a cat</a></li>
        <li><a href="/manga/manga2">Hello evryone</a></li>
        <li><a href="/manga/manga3"></a></li>
        <li><a href="/manga/manga4"></a></li>
        <li><a href="/manga/manga5"></a></li>
        <li><a href="/manga/manga6"></a></li>
        <li><a href="/manga/manga7"></a></li>
        <li><a href="/manga/manga8"></a></li>
        <li><a href="/manga/manga9"></a></li>
        <li><a href="/manga/manga10"></a></li>
    </ul>
</body>
</html>