---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="英語四コマ漫画4" lang="ja" pageClass="manga-page">
  <h1>[004]</h1>
  <div class="manga-item">
    <img src="/images/manga004.png" alt="漫画4の表紙" />
    <div class="description">
      <details class="description-toggle">
        <summary>Description</summary>
        <p class="description-text"></p>
      </details>
    </div>
  </div>
</Layout>